/* Navbar Styling */
.navbar {
    background-color: #a75f2b; /* Coklat terang (Sienna) */
    color: white; /* Set warna teks putih */
}

.navbar button, .navbar a {
    background-color: transparent;
    color: white;
    border-color: white;
}

.navbar button:hover, .navbar a:hover {
    background-color: #8B4513; /* Warna tetap saat hover */
    border-color: white; /* Warna border tetap saat hover */
}

#mobile-menu button, #mobile-menu a {
    background-color: #8B4513; /* Background coklat terang pada mobile menu */
    color: white; /* Teks putih */
    border: none;
}

#mobile-menu button:hover, #mobile-menu a:hover {
    background-color: #8B4513; /* Tetap coklat terang saat hover di mobile menu */
}

.navbar img {
    height: 40px; /* Atur ukuran logo */
    width: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Tambahkan animasi transisi jika tombol berubah bentuk */
#hamburger-icon.open {
    /* Misalnya, putar ikon saat menu dibuka */
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

/* Gaya input, textarea, select tetap mempertahankan warna dasar */
.form-style form input, 
.form-style form textarea, 
.form-style form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc; /* Warna border */
    border-radius: 0.375rem;
    background-color: #4c3e2c; /* Warna dasar */
    color: white; /* Warna teks agar kontras */
    outline: none; /* Menghapus outline default saat fokus */
}

/* Hapus gaya focus */
.form-style form input:focus, 
.form-style form textarea:focus, 
.form-style form select:focus {
    /* Tidak ada perubahan gaya saat fokus */
    border-color: #bcbcbc; /* Tetap menggunakan warna border yang sama */
    box-shadow: none; /* Hapus bayangan */
}


.navbar .logout-button { 
    background-color: #dc2626; 
    border: 1px solid #dc2626; 
}

.navbar .logout-button:hover { 
    background-color: #c21f1f; 
}

#mobile-menu .logout-button {
    background-color: #dc2626; /* Merah pada mobile menu */
    border: 1px solid #dc2626; 
}

#mobile-menu .logout-button:hover {
    background-color: #c21f1f; /* Merah lebih gelap saat hover pada mobile menu */
}
