{% extends 'base.html' %}
{% block content %}

<h1>Muffin Mart</h1>

<h5>Nama barang: </h5>
<p>{{ name }}</p> <!-- Ubah sesuai dengan npm kamu -->
<h5>Harga: </h5>
<p>{{ price }}</p> <!-- Ubah sesuai dengan nama kamu -->
<h5>Description: </h5>
<p>{{ description }}</p> <!-- Ubah sesuai dengan kelas kamu -->
<h5>Quantity: </h5>
<p>{{ quantity }}</p>

{% if not product_entries %}
<p>Belum ada product yang ditambahkan.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Quantity</th>
  </tr>


 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.quantity}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />
<a href="{% url 'main:create_product_entry' %}">
  <button>Add product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}